.layout {

}

table {
  border-collapse: collapse;
  font-family: monospace;
}

thead td {
  text-transform: uppercase;
}

td {
  padding: 3px 8px;
}

.container {
  font-size: 11px;
  display: flex;
  max-width: 800px;
  margin: auto;
}

thead {
  font-weight: bold;
}
